{% extends "templates/navbar.html" %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <form action="/auth" method="post">
                <div class="panel-heading">
                    Authorization
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class='control-label'>Api Key</label>
                        <input type="text" name="shopify_api_key" value="{{session.shopify_api_key}}" class='form-control'>
                    </div>
                    <div class="form-group">
                        <label class='control-label'>Password</label>
                        <input type="text" name="shopify_password" value="{{session.shopify_password}}" class='form-control'>
                    </div>
                    <div class="form-group">
                        <label class='control-label'>Shared Secret</label>
                        <input type="text" name="shopify_shared_secret" value="{{session.shopify_shared_secret}}" class='form-control'>
                    </div>
                    <div class="form-group">
                        <label class='control-label'>Shopify Domain</label>
                        <input type="text" name="myshopify_domain" value="{{session.myshopify_domain}}" class='form-control'>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="/clear" class='btn btn-default pull-left'>Clear</a>
                    <input type="submit" name="submit" value="Submit" class='btn btn-primary pull-right'>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
