{% extends "templates/navbar.html" %}

{% block content %}
    <div class="row">
        {% if result %}
            <div class="col-sm-10 col-sm-offset-1 alert alert-success">
                Product {{ result }} successfully created! <a href="https://{{store}}/admin/products/{{result}}" target="_blank">Click to review!</a>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <form action="" method="post" enctype='multipart/form-data' id='productForm'>
            <div class="col-lg-6 col-lg-offset-2 col-sm-12">
                {% if shops is empty %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Create New Product
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-warning">
                            You need access to a shop before you can create products
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Product Details
                    </div>
                    <div class="panel-body">
                        <div class='form-group col-lg-6 col-sm-12'>
                            <label class='control-label'>Product Title</label>
                            <input type="text" name="product_title" value="" class='form-control'>
                        </div>
                        <div class='form-group col-lg-6 col-sm-12'>
                            <label class='control-label'>Handle</label>
                            <input type="text" name="product_handle" value="" class='form-control' placeholder='Leave blank to auto-generate'>
                        </div>
                        <div class='form-group col-lg-6 col-sm-12'>
                            <label class='control-label'>Product Type</label>
                            <input type="text" name="product_type" value="Shirts" class='form-control'>
                        </div>
                        <div class='form-group col-lg-6 col-sm-12'>
                            <label class='control-label'>Vendor</label>
                            <input type="text" name="vendor" value="BPP" class='form-control'>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class='control-label'>Tags</label>
                            <textarea name="tags" rows="2" cols="40" placeholder='We can default this to whatever you want as well' class='form-control'></textarea>
                        </div>
                        <hr>
                        <div class='form-group col-sm-12'>
                            <label class='control-label'>ZIP File</label>
                            <input type="file" name="zip_file" value="">
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class='control-label'>Template</label>
                                <select class="form-control" name="template" onchange='selectCallback()'>
                                    <option value="single_product" selected>Single Product</option>
                                    <option value="grey_collection">Grey Collection</option>
                                    <option value="stemless">Stemless</option>
                                    <option value="hats">Hats</option>
                                    <option value="hats_masculine">Hats 2 - Masculine</option>
                                    <option value="drinkware">Drinkware</option>
                                    <option value="uv_drinkware">UV Drinkware</option>
                                    <option value="uv_with_bottles">UV (With Bottles)</option>
                                    <option value="baby_body_suit">Baby Body Suit</option>
                                    <option value="raglans">Raglans</option>
                                    <option value="front_back_pocket">Front/Back Pocket</option>
                                    <option value="christmas">Christmas</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class='control-label'>Showcase Color</label>
                                <select name='default_color' class='form-control'>
                                    <option value='Navy' selected>Navy</option>
                                    <option value='Black'>Black</option>
                                    <option value='Charcoal'>Charcoal</option>
                                    <option value='Royal'>Royal Blue</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class='control-label'>Showcase Product</label>
                                <select class='form-control' name="default_product">
                                    <option value="Hoodie">Hoodie</option>
                                    <option value="Tank">Tank</option>
                                    <option value="Tee">Tee</option>
                                    <option value="Long Sleeve" selected>Long Sleeve</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type='checkbox' id='log_to_google' name="log_to_google" value="1" onchange='setGoogleFieldsVisibility()' checked>Log to Google
                            </label>
                        </div>
                        <div id="google-fields">
                            <div class="form-group">
                                <label class='col-sm-3 control-label'>Print Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="print_type" onchange='setPrintType()'>
                                        <option value="front_print" selected>Front Print</option>
                                        <option value="back_print">Back Print</option>
                                        <option value="double_sided">Front &amp; Back</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id='front_print_url_field'>
                                <label class='col-sm-3 control-label'>Front Print URL</label>
                                <div class="col-sm-9">
                                    <input type="text" class='form-control' name="front_print_url" value="">
                                </div>
                            </div>
                            <div class="form-group" id='back_print_url_field' style='display:none'>
                                <label class='col-sm-3 control-label'>Back Print URL</label>
                                <div class="col-sm-9">
                                    <input type="text" class='form-control' name="back_print_url" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="submit" name="name" value="Submit" class='btn btn-primary pull-right' id='submit'>
                        <div class='clearfix'></div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-lg-2 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Stores
                    </div>
                    <div class="panel-body">
                        {% for shop in shops %}
                        <div class="checkbox">
                            <label>
                                {% if shop.id in [1,10] %}
                                <input type="checkbox" name="stores[]" value="{{shop.id}}" checked>{{shop.myshopify_domain}}
                                {% else %}
                                <input type="checkbox" name="stores[]" value="{{shop.id}}">{{shop.myshopify_domain}}
                                {% endif %}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <style media="screen">
        #advanced {
            cursor: pointer;
        }
        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    </style>

    <script type="text/javascript">
        function selectAllStores() {
            $('input[type="checkbox"]').each(function() {
                if (!$(this).prop('checked')) {
                    $(this).prop('checked', true);
                }
            })
        }
        function deselectAllStores() {
            $('input[type="checkbox"]').each(function() {
                if ($(this).prop('checked')) {
                    $(this).prop('checked', false);
                }
            })
        }
        function setPrintType() {
            var printType = $('select[name="print_type"] :selected').val();
            switch (printType) {
                case 'front_print':
                    $('#front_print_url_field').show();
                    $('#back_print_url_field').hide();
                    break;
                case 'back_print':
                    $('#front_print_url_field').hide();
                    $('#back_print_url_field').show();
                    break;
                case 'double_sided':
                    $('#front_print_url_field').show();
                    $('#back_print_url_field').show();
                    break;

            }
        }

        function selectCallback() {
            var option = $('select[name="template"] :selected').val();
            if (option == 'single_product') {
                $('#log_to_google').prop('checked', true);
            } else {
                $('#log_to_google').prop('checked', false);
            }
            $('#log_to_google').trigger('change');
        }

        function setGoogleFieldsVisibility() {
            if ($('input[name="log_to_google"]:checked').length > 0) {
                $('#google-fields').show();
            } else {
                $('#google-fields').hide();
            }
        }

        $(document).ready(function() {
            $('#advanced').click(function(ev) {
                $('#advanced-wrapper').toggle();
            })
            $('input[type="checkbox"]').click(function() {
                if ($('input[type="checkbox"]:checked').length > 0) {
                    $('#submit').prop('disabled', false);
                } else {
                    $('#submit').prop('disabled', true);
                }
            })
        })
    </script>
{% endblock %}
