{% extends "navbar.html" %}

{% block styles %}
<style media="screen">
    #advanced {
        cursor: pointer;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>
{% endblock %}


{% block content %}
    <div class="row">
        {% if result %}
            <div class="col-sm-12 col-sm-offset-1 alert alert-success">
                Product {{ result }} successfully created! <a href="https://{{store}}/admin/products/{{result}}" target="_blank">Click to review!</a>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <form action="" method="post" enctype='multipart/form-data' id='productForm'>
            <div class="col-lg-10 col-lg-offset-1 col-sm-12">
                {% if shops is empty %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Create New Product
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-warning">
                            You need access to a shop before you can create products
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Product Details
                        <span class='pull-right'><a href="/products/batch">Batch Upload</a></span>
                    </div>
                    <div class="panel-body">
                        <div class='form-group col-sm-12'>
                            <label class='control-label'>ZIP File</label>
                            <input type="file" name="zip_file" value="">
                        </div>
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class='control-label'>Shop</label>
                            <select class='form-control' name='shop'>
                                {% for shop in shops %}
                                    {% if shop.id in user.default_shops %}
                                        <option value="{{ shop.id}}" selected>{{shop.myshopify_domain}}</option>
                                    {% else %}
                                        <option value="{{ shop.id }}">{{ shop.myshopify_domain }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class='form-group col-lg-6 col-sm-12'>
                            <label class='control-label'>Product Title</label>
                            <input type="text" name="product_title" value="" class='form-control' required>
                        </div>
                        <!--<div class='form-group col-lg-6 col-sm-12'>-->
                            <!--<label class='control-label'>Vendor</label>-->
                            <!--<input type="text" name="vendor" value="" class='form-control'>-->
                        <!--</div>-->
                        <!--<div class="form-group col-lg-6 col-sm-12">-->
                            <!--<label class='control-label'>SKU</label>-->
                            <!--<input type="text" name="sku" value="" class='form-control'>-->
                        <!--</div>-->
                        <div class="form-group col-sm-12">
                            <label class='control-label'>Tags</label>
                            <input type='text' name="tags" placeholder='We can default this to whatever you want as well' class='form-control'>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class='control-label'>Template</label>
                            <select class="form-control" name="template">
                                {% for template in templates %}
                                    <option value="{{ template.handle }}">{{ template.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div id='sub_template_selector'>
                            <input type="hidden" name="sub_template">
                            {% for template in templates %}
                                {% if template.sub_templates is empty %}

                                {% else %}
                                <div style='display:none' id='{{ template.handle }}_product_type' class="form-group col-sm-12 select_container">
                                    <select class="form-control" >
                                        <option value="" selected>Select a Sub-Template</option>
                                        {% for child in template.sub_templates %}
                                            {% if child.default %}
                                                <option value="{{ child.value }}">{{ child.name }}</option>
                                            {% else %}
                                                <option value="{{ child.value }}">{{ child.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="form-group col-sm-6">
                            <label class='control-label'>Showcase Color</label>
                            <select name='default_color' class='form-control'></select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class='control-label'>Showcase Product</label>
                            <select class='form-control' name="default_product">
                                <option value="Hoodie">Hoodie</option>
                                <option value="Tank">Tank</option>
                                <option value="Tee">Tee</option>
                                <option value="Long Sleeve" selected>Long Sleeve</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="checkbox">
                                <label>
                                    <input type='checkbox' id='log_to_google' name="log_to_google" value="1" onchange='setGoogleFieldsVisibility()'>Log to Google
                                </label>
                            </div>
                        </div>
                        <div id="google-fields" style="disply:none">
                            <div class="form-group col-sm-12">
                                <label class='control-label'>Print Type</label>
                                <select class="form-control" name="print_type" onchange='setPrintType()'>
                                    <option value="front_print" selected>Front Print</option>
                                    <option value="back_print">Back Print</option>
                                    <option value="double_sided">Front &amp; Back</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6" id='front_print_url_field'>
                                <label class='control-label'>Front Print URL</label>
                                <input type="text" class='form-control' name="front_print_url" value="">
                            </div>
                            <div class="form-group col-sm-6" id='back_print_url_field' style='display:none'>
                                <label class='control-label'>Back Print URL</label>
                                <input type="text" class='form-control' name="back_print_url" value="">
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="submit" name="name" value="Submit" class='btn btn-sm btn-primary pull-right' id='submit'>
                        <div class='clearfix'></div>
                    </div>
                </div>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#advanced').click(function(ev) {
            $('#advanced-wrapper').toggle();
        })
        $('#sub_template_selector select').on('change', function() {
            $('input[name="sub_template"]').val($(this).val());
        })
        $('input[name="template"]').on('change', function(event) {
            $('input[name="sub_template"]').val();
        })
        function selectAllStores() {
            $('input[type="checkbox"]').each(function() {
                if (!$(this).prop('checked')) {
                    $(this).prop('checked', true);
                }
            })
        }

        function deselectAllStores() {
            $('input[type="checkbox"]').each(function() {
                if ($(this).prop('checked')) {
                    $(this).prop('checked', false);
                }
            })
        }
        function setPrintType() {
            var printType = $('select[name="print_type"] :selected').val();
            switch (printType) {
                case 'front_print':
                    $('#front_print_url_field').show();
                    $('#back_print_url_field').hide();
                    break;
                case 'back_print':
                    $('#front_print_url_field').hide();
                    $('#back_print_url_field').show();
                    break;
                case 'double_sided':
                    $('#front_print_url_field').show();
                    $('#back_print_url_field').show();
                    break;

            }
        }
        function showSubTemplates(selectorId)
        {
            var subSelector = $(selectorId);
            $('#sub_template_selector .select_container').each(function(index) {
                $(this).hide();
            })
            subSelector.show();
        }

        $('select[name="template"]').on('change', function() {
            var option = $('select[name="template"] :selected').val();
            var subSelectorId = `#${option}_product_type`;
            showSubTemplates(subSelectorId)
        })

        function setGoogleFieldsVisibility() {
            if ($('input[name="log_to_google"]:checked').length > 0) {
                $('#google-fields').show();
            } else {
                $('#google-fields').hide();
            }
        }

        // Initialize our form
        var option = $('select[name="template"] :selected').val();
        var subSelectorId = `#${option}_product_type`;
        showSubTemplates(subSelectorId)

        $('select[name="default_color"]').selectize({
            closeAfterSelect: true,
            loadThrottle: 100,
            valueField: 'name',
            labelField: 'name',
            searchField: 'name',

            create: function(input, callback) {
                $.post('/colors', {name: input}, function(data) {
                    console.log(data);
                    callback({
                        id: data.color.id,
                        text: data.color.name
                    })
                })
            },
            load: function(query, callback) {
                console.log("Loading");
                $.get('/colors/search', {q: query}, function(data) {
                    callback(data.results);
                });
            }
        });
    })
</script>
{% endblock %}
