{% extends "navbar.html" %}

{% block content %}
    <div class="row">
        {% if result %}
            <div class="col-sm-10 col-sm-offset-1 alert alert-success">
                Product {{ result }} successfully created! <a href="https://{{store}}/admin/products/{{result}}" target="_blank">Click to review!</a>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-sm-12">
            <div class="panel panel-default">
                <form action="/products" method="post" enctype='multipart/form-data' id='productForm'>
                    <div class="panel-heading">
                        Queue
                    </div>
                    <div class="panel-body">
                        <table class='table table-bordered table-condensed'>
                            <tr>
                                <th></th>
                                <th>Shop</th>
                                <th>Created</th>
                                <th>Status</th>
                                <th>Started At</th>
                                <th>Completed At</th>
                                <th>Elapsed Time</th>
                                <th>Results</th>
                                <th>Error</th>
                            </tr>
                            {% for q in queue %}
                            <tr>
                                <td>
                                    {% if q.status == 'pending' %}
                                    {% elseif q.status == 'failed' %}
                                        <form action="/queue/restart" method="post">
                                            <input type="hidden" name="id" value="{{q.id}}">
                                            <button type="submit" class='btn btn-default'>Restart</button>
                                        </form>
                                    {% elseif q.status == 'finished' %}
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td>{{q.shop.myshopify_domain}}</td>
                                <td>{{q.created_at | date('Y-m-d H:i')}}</td>
                                <td>
                                    {% if q.status == 'pending' %}
                                            <span class='glyphicon glyphicon-minus'></span>
                                    {% elseif q.status == 'failed' %}
                                            <span class='glyphicon glyphicon-remove'></span>
                                    {% elseif q.status == 'finished' %}
                                            <span class='glyphicon glyphicon-ok'></span>
                                    {% else %}
                                        {{q.status}}
                                    {% endif %}
                                </td>
                                <td>{% if q.started_at %} {{q.started_at | date('Y-m-d H:i')}} {% endif %}</td>
                                <td>{% if q.finished_at %} {{q.finished_at | date('Y-m-d H:i')}} {% endif %}</td>
                                <td></td>
                                <td>
                                    <ul>
                                        {% for product in q.product_id %}
                                            <li><a href="https://{{q.shop.myshopify_domain}}/admin/products/{{product}}">{{product}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>{{q.error}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
