{% extends "navbar.html" %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Templates
            </div>
            {% if templates is empty %}
                <div class="alert alert-info">
                    You don't have any templates yet!
                </div>
            {% else %}
            <table class='table table-bordered table-striped'>
                <tr>
                    <th>Handle</th>
                    <th>Name</th>
                    <th></th>
                </tr>
                {% for template in templates %}
                    <tr>
                        <td>{{ template.handle }}</td>
                        <td>{{ template.name }}</td>
                        <td>
                            <a class='btn btn-sm btn-default' href="/templates/{{ template.id }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
</div>
{% endblock %}
