{% extends "navbar.html" %}

{% block styles %}
<style media="screen">
    .editor {
        height: 150px
    }
    .hidden {
        display: none;
    }
</style>
{% endblock %}
{% block content %}
<div class="col-sm-8 col-sm-offset-2">
    <!-- <form action="/templates/{{ template.id }}" method="post"> -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Edit Template
            </div>
            <div class="panel-body">
                <div class="form-group col-sm-6">
                    <label class='control-label'>Handle</label>
                    <input type="text"  value="{{ template.handle }}" class='form-control'>
                </div>
                <div class="form-group col-sm-6">
                    <label class='control-label'>Name</label>
                    <input type="text" name="name" value="{{ template.name }}" class='form-control'>
                </div>
                <div class="form-group col-sm-6">
                    <label class='control-label'>Vendor</label>
                    <input type="text" name="vendor" value="{{ template.vendor }}" class='form-control'>
                </div>
                <div class="form-group col-sm-6">
                    <label class='control-label'>Product Type</label>
                    <input type="text" name="product_type" value="{{ template.product_type }}" class='form-control'>
                </div>
                <div class="form-group col-sm-6">
                    <label class='control-label'>Tags</label>
                    <input type="text" name="tags" value="{{ template.tags }}" class='form-control'>
                </div>
                <div class='form-group col-sm-12'>
                    <label class='control-label'>SKU Generation</label>
                    <div id='sku_template_editor' class='editor' class='form-control'>{{ template.sku_template }}</div>
                    <textarea name="sku_template" class='hidden'></textarea>
                </div>
                <div class='form-group col-sm-12'>
                    <label class='control-label'>Description</label>
                    <textarea class='form-control' name='description'>{{ template.description }}</textarea>
                </div>
            </div>
            <div class="panel-footer">
                <!-- <button type='submit' class='btn btn-sm btn-primary pull-right'>Update Template</button> -->
                <div class="clearfix"></div>
            </div>
        </div>
    <!-- </form> -->

    <div class="panel panel-primary">
        <div class="panel-heading">
            Sub Templates
        </div>
        {% if template.sub_templates is empty %}
        <div class="panel-body">
            <div class="alert alert-info">
                This template doesn't have any sub templates
            </div>
        </div>
        {% else %}
        <table class='table table-condensed'>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th></th>
            </tr>
            {% for child in template.sub_templates %}
            <tr>
                <td>{{ child.name }}</td>
                <td>{{ child.value }}</td>
                <td>
                    <div class="btn-group">
                        <a href="#" class='btn btn-sm btn-primary' data-name="{{ child.name }}" data-value="{{ child.value }}" data-sub-template-id="{{ child.id }}" data-template-id="{{ template.id }}" data-toggle="modal" data-target="#editModal">Edit</a>
                        <form action="/templates/{{ template.id }}/children/{{ child.id }}/delete" method="post">
                            <button type='submit' class='btn btn-sm btn-danger'>Delete</button>
                        </form>

                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <div class="panel-footer">
            <button type="button" class='btn btn-sm btn-primary pull-right' data-toggle='modal' data-target='#newModal'>Add Sub Template</button>
            <div class="clearfix">

            </div>
        </div>
    </div>
</div>

<div id='editModal' class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form class="" action="/templates/children/update" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Sub Template</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class='control-label'>Name</label>
          <input type="text" class='form-control' name="name" value="">
        </div>
        <div class="form-group">
          <label class='control-label'>Value</label>
          <input type="text" class='form-control' name="value" value="">
        </div>
        <input type='hidden' name='template_id' value="">
        <input type='hidden' name='sub_template_id' value="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
      </div>
    </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id='newModal' class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form class="" action="/templates/{{ template.id }}/children" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Sub Template</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class='control-label'>Name</label>
          <input type="text" class='form-control' name="name" value="">
        </div>
        <div class="form-group">
          <label class='control-label'>Value</label>
          <input type="text" class='form-control' name="value" value="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
      </div>
    </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block scripts %}
<script>
    var editor = ace.edit('sku_template_editor');
    editor.setTheme("ace/theme/chrome");
    editor.session.setMode(`ace/mode/liquid`);
    var textarea = $(`textarea[name="sku_template"]`);
    editor.getSession().on("change", function () {
        textarea.html(editor.getSession().getValue());
    });
    textarea.html(editor.getSession().getValue());

    $('#editModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var modal = $(this)
      modal.find('input[name="name"]').val(button.data('name'))
      modal.find('input[name="value"]').val(button.data('value'))
      modal.find('input[name="sub_template_id"]').val(button.data('sub-template-id'))
      modal.find('input[name="template_id"]').val(button.data('template-id'))
    })

    $('#EditModal').on('close.bs.modal', function (event) {
        var modal = $(this)
        modal.find('input[name="name"]').val()
        modal.find('input[name="value"]').val()
        modal.find('input[name="sub_template_id"]').val()
        modal.find('input[name="template_id"]').val()
    })

</script>
{% endblock %}
