{% extends "navbar.html" %}

{% block styles %}
<style media="screen">
    .editor {
        height: 150px
    }
    .hidden {
        display: none;
    }
</style>
{% endblock %}
{% block content %}
<div class="col-sm-8 col-sm-offset-2">
    <form action="/templates/{{ template.id }}" method="post">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Edit Template
            </div>
            <div class="panel-body">
                <div class="form-group col-sm-6">
                    <label class='control-label'>Handle</label>
                    <input type="text"  value="{{ template.handle }}" class='form-control'>
                </div>
                <div class="form-group col-sm-6">
                    <label class='control-label'>Name</label>
                    <input type="text" name="name" value="{{ template.name }}" class='form-control'>
                </div>
                <div class="form-group col-sm-6">
                    <label class='control-label'>Vendor</label>
                    <input type="text" name="vendor" value="{{ template.vendor }}" class='form-control'>
                </div>
                <div class="form-group col-sm-6">
                    <label class='control-label'>Product Type</label>
                    <input type="text" name="product_type" value="{{ template.product_type }}" class='form-control'>
                </div>
                <div class="form-group col-sm-6">
                    <label class='control-label'>Tags</label>
                    <input type="text" name="tags" value="{{ template.tags }}" class='form-control'>
                </div>
                <div class='form-group col-sm-12'>
                    <label class='control-label'>SKU Generation</label>
                    <div id='sku_template_editor' class='editor' class='form-control'>{{ template.sku_template }}</div>
                    <textarea name="sku_template" class='hidden'></textarea>
                </div>
                <div class='form-group col-sm-12'>
                    <label class='control-label'>Description</label>
                    <textarea class='form-control' name='description'>{{ template.description }}</textarea>
                </div>
            </div>
            <div class="panel-footer">
                <button type='submit' class='btn btn-sm btn-primary pull-right'>Update Template</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>

    <div class="panel panel-primary">
        <div class="panel-heading">
            Sub Templates
        </div>
        {% if template.sub_templates is empty %}
        <div class="panel-body">
            <div class="alert alert-info">
                This template doesn't have any sub templates
            </div>
        </div>
        {% else %}
        <table class='table table-condensed'>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            {% for child in template.sub_templates %}
            <tr>
                <td>{{ child.name }}</td>
                <td>{{ child.value }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    var editor = ace.edit('sku_template_editor');
    editor.setTheme("ace/theme/chrome");
    editor.session.setMode(`ace/mode/liquid`);
    var textarea = $(`textarea[name="sku_template"]`);
    editor.getSession().on("change", function () {
        textarea.html(editor.getSession().getValue());
    });
</script>
{% endblock %}
