{% extends "navbar.html" %}

{% block content %}
<div class="col-sm-4 col-sm-offset-4">
    <form action="/shops/{{ shop.id }}/delete" method="post">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Delete {{ shop.myshopify_domain }}?
            </div>
            <div class="panel-body">
                Are you sure you would like to delete {{ shop.myshopify_domain }}?
                This action cannot be undone.
            </div>
            <div class="panel-footer">
                <button type="submit" name="button" class='btn btn-sm btn-danger pull-right'>Delete</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
