{% extends "navbar.html" %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Shops
            </div>
                {% if shops is empty %}
                    <div class="alert alert-info">
                        You don't have any shops yet! <a href="/shops/create">Create one now!</a>
                    </div>
                {% else %}
                <table class='table table-bordered table-striped'>
                    <tr>
                        <th>Domain</th>
                        <th>API Key</th>
                        <th></th>
                    </tr>
                    {% for shop in shops %}
                        <tr>
                            <td>{{ shop.myshopify_domain }}</td>
                            <td>{{ shop.api_key }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                  <a href="/shops/{{ shop.id }}" type="button" class="btn btn-sm btn-default">Edit</a>
                                  <a href="/shops/{{ shop.id }}/settings" type="button" class="btn btn-sm btn-default">Settings</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
            <div class="panel-footer">
                <a href="/shops/create" class='btn btn-sm btn-primary pull-right'>Create New Shop</a>
                <div class="clearfix"></div>
            </div>
        </div>
</div>
{% endblock %}
