{% extends "navbar.html" %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                Shops
            </div>
            <div class="panel-body">
                {% if shops is empty %}
                    <div class="alert alert-info">
                        You don't have any shops yet! <a href="/shops/create">Create one now!</a>
                    </div>
                {% else %}
                <table class='table table-bordered table-striped'>
                    <tr>
                        <th>
                            Shop ID
                        </th>
                        <th>
                            Domain
                        </th>
                        <th>
                            API Key
                        </th>
                    </tr>
                    {% for shop in shops %}
                        <tr>
                            <td>
                                <a href="/shops/{{ shop.id }}">{{ shop.id }}</a>
                            </td>
                            <td>
                                {{ shop.myshopify_domain }}
                            </td>
                            <td>
                                {{ shop.api_key }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
            <div class="panel-footer">
                <a href="/shops/create" class='btn btn-primary pull-right'>Create New Shop</a>
                <div class="clearfix">

                </div>
            </div>
        </div>
</div>
{% endblock %}
