{% extends "navbar.html" %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2">
    <form action="/shops/{{ shop.id }}" method="post">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Edit Shop <span class='pull-right'><a href="/shops/{{ shop.id }}/settings">Template Settings</a></span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class='control-label'>Domain</label>
                    <input type="text" name="myshopify_domain" value="{{ shop.myshopify_domain }}" class='form-control'>
                </div>
                <div class="form-group">
                    <label class='control-label'>API Key</label>
                    <input type="text" name="api_key" value="{{ shop.api_key }}" class='form-control'>
                </div>
                <div class="form-group">
                    <label class='control-label'>Password</label>
                    <input type="password" name="password" value="{{ shop.password }}" class='form-control'>
                </div>
                <div class="form-group">
                    <label class='control-label'>Shared Secret</label>
                    <input type="password" name="shared_secret" value="{{ shop.shared_secret }}" class='form-control'>
                </div>
                <div class="form-group">
                    <label class='col-sm-3 control-label'>Default Description</label>
                    <textarea name="description" rows="8" cols="80" class='form-control'>{{shop.description}}</textarea>
                </div>
            </div>
            <div class="panel-footer">
                <a href="/shops/{{shop.id}}/delete" class='btn btn-sm btn-danger pull-left'>Delete</a>
                <button type='submit' class='btn btn-sm btn-primary pull-right'>Update Shop</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>
</div>
<div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Google Authentication
        </div>
        <div class="panel-body">
            {% if shop.google_access_token %}
                <form class="form-horizontal" action="/google/sheet" method="post">
                    <input type="hidden" name="shop_id" value="{{shop.id}}">
                    <div class="input-group">
                        <span class='input-group-addon'>
                            Sheet URL
                        </span>
                        <input type="text" class='form-control' name="google_sheet_slug" value="{{shop.google_sheet_slug}}">
                        <span class='input-group-btn'>
                            <button type="submit" name="button" class='btn btn-primary'>Update</button>
                        </span>

                    </div>
                </form>
            {% endif %}
        </div>
        <div class="panel-footer">
            <a href="/google/oauth?shop_id={{shop.id}}">Authenticate with Google</a>
        </div>
    </div>
</div>
{% endblock %}
