{% extends "navbar.html" %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-primary">
        <form action="/shops/{{ shop.id }}/settings/{{ template.id }}" method="post">
            <div class="panel-heading">
                Settings for {{ shop.myshopify_domain }}'s {{ template.name }} Template
            </div>
            <div class="panel-body">
                <div class="form-group col-sm-6">
                    <label class='control-label'>Vendor</label>
                    <input type="text" name="vendor" value="{{ setting.vendor }}" placeholder="{{ template.vendor }}" class='form-control'>
                </div>
                <div class="form-group col-sm-6">
                    <label class='control-label'>Product Type</label>
                    <input type="text" name="product_type" value="{{ setting.product_type }}" placeholder="{{ template.product_type }}" class='form-control'>
                </div>
                <div class="form-group col-sm-6">
                    <label class='control-label'>Tags</label>
                    <input type="text" name="tags" value="{{ setting.tags }}" class='form-control'>
                </div>
                <div class="form-group col-sm-6">
                    <label class='control-label'>SKU Template</label>
                    <input disabled type="text" name="sku_template" value="{{ setting.sku_template }}" placeholder="{{ template.sku_template }}" class='form-control'>
                </div>
                <div class="form-group col-sm-12">
                    <label class='col-sm-3 control-label'>Description</label>
                    <textarea name="description" rows="8" cols="80" class='form-control'>{{setting.description}}</textarea>
                </div>
            </div>
            <div class="panel-footer">
                <button type='submit' class='btn btn-sm btn-primary pull-right'>Update Template</button>
                <div class="clearfix">

                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
