<div class="col-lg-6 col-lg-offset-3 col-sm-12">
    <div class="panel panel-default" cg-busy="{promise:filePromise,message:'Uploading file. Please continue with form'}">
        <div class="panel-heading">
            Step 1: Upload File
        </div>
        <div class="panel-body">
            <div class="form-group text-center" ng-if='!fileSelected'>
                <button type="file" name='file' ngf-select='upload($file)' ng-model='file' ngf-accept='application/zip'>Upload .zip</button>
            </div>
            <div ng-if='fileSelected'>
                <p>{{file.name}}</p>
                <uib-progressbar></uib-progressbar>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6 col-lg-offset-3 col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Select Template
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class='col-sm-3 control-label'>Template</label>
                <div class="col-sm-9">
                    <select class="form-control" ng-model='productForm.template'>
                        <option ng-repeat='template in templates track by $index' value="{{template.name}}">{{template.description}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6 col-lg-offset-3 col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Product Settings
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class='col-sm-3 control-label'>Title</label>
                    <div class="col-sm-9">
                        <input type="text" class='form-control' ng-model='productForm.title' placeholder='Title to give the product'>
                    </div>
                </div>
                <div class="form-group">
                    <label class='col-sm-3 control-label'>Handle</label>
                    <div class="col-sm-9">
                        <input type="text" class='form-control' ng-model='productForm.handle' placeholder='Handle to give the product (optional)'>
                    </div>
                </div>
                <div class="form-group">
                    <label class='col-sm-3 control-label'>Tags</label>
                    <div class="col-sm-9">
                        <textarea class='form-control' placeholder='Comma separated list of tags. (tag1, tag2, tag3, etc)'>{{productForm.tags}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class='col-sm-3 control-label'>Product Type</label>
                    <div class="col-sm-9">
                        <input type="text" class='form-control' ng-model='productForm.type'>
                    </div>
                </div>
                <div class="form-group">
                    <label class='col-sm-3 control-label'>Vendor</label>
                    <div class="col-sm-9">
                        <input type="text" class='form-control' ng-model='productForm.vendor'>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <div class="col-lg-6 col-lg-offset-3 col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Advanced Settings
        </div>
    </div>
</div> -->

<div class="col-lg-6 col-lg-offset-3 col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Google Logging
            <button class='btn btn-default btn-xs pull-right' type="button" name="button" ng-click='productForm.log_to_google = !productForm.log_to_google'>
                <span ng-if='productForm.log_to_google'>Disable</span>
                <span ng-if='!productForm.log_to_google'>Enable</span>
            </button>
        </div>
        <div class="panel-body" ng-if='productForm.log_to_google'>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class='col-sm-3 control-label'>Print Type</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model='productForm.print_type'>
                            <option value="front_print" selected>Front Print</option>
                            <option value="back_print">Back Print</option>
                            <option value="double_sided">Front &amp; Back</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-if='["front_print", "double_sided"].indexOf(productForm.print_type) > -1'>
                    <label class='col-sm-3 control-label'>Front Print URL</label>
                    <div class="col-sm-9">
                        <input type="text" class='form-control' name="front_print_url" value="">
                    </div>
                </div>
                <div class="form-group" ng-if='["back_print", "double_sided"].indexOf(productForm.print_type) > -1'>
                    <label class='col-sm-3 control-label'>Back Print URL</label>
                    <div class="col-sm-9">
                        <input type="text" class='form-control' name="back_print_url" value="">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center">
    <button class='btn btn-primary' type="button" name="button" ng-click='submit()' ng-disabled='!fileUploaded'>Submit Product</button>
</div>
