{% extends "navbar.html" %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2">
    <form action="/users/{{ user.id }}/access" method="post">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Access for {{ user.email }}
            </div>
            <div class="panel-body">
                <div class='form-group'>
                    {% for shop in shops %}
                        <label class='checkbox-inline'><input type='checkbox' name="shop_{{ shop.id }}" {% if shop.userHasAccess %} checked {% endif %}>{{ shop.myshopify_domain }}</label><br>
                    {% endfor %}
                </div>
            </div>
            <div class="panel-footer">
                <button type='submit' class='btn btn-sm btn-primary pull-right'>Update Access</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
