{% extends "navbar.html" %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Users
            </div>
            <div class="panel-body">
                {% if users is empty %}
                    <div class="alert alert-info">
                        You don't have any users yet! Have DB Admin create one!
                    </div>
                {% else %}
                <table class='table table-bordered table-striped'>
                    <tr>
                        <th>
                            User ID
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Role
                        </th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>
                                <a href="/users/{{ user.id }}">{{ user.id }}</a>
                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                            <td>
                                {{ user.role }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
            <div class="panel-footer">
                <a href="/users/create" class='btn btn-primary pull-right'>Create New User</a>
                <div class="clearfix">

                </div>
            </div>
        </div>
</div>
{% endblock %}
