{% extends "navbar.html" %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2">
    <form action="/users/{{ user.id }}/settings" method="post">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Settings
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class='control-label'>Default Store</label>
                    <select class="form-control" name="default_shop">
                        {% for shop in shops %}
                            {% if shop.id == user.default_shops %}
                                <option value="{{ shop.id }}" selected>{{ shop.myshopify_domain }}</option>
                            {% else %}
                                <option value="{{ shop.id }}">{{ shop.myshopify_domain }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="panel-footer">
                <button type='submit' class='btn btn-sm btn-primary pull-right'>Update Settings</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
