{% extends "navbar.html" %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-primary">
        <form action="/users/{{ user.id }}/settings" method="post">
            <div class="panel-heading">
                Settings
            </div>
            <div class="panel-body">
                {% for shop in shops %}
                    <div class="checkbox">
                        <label>
                            {% if shop.id in user.default_shops %}
                                <input type="checkbox" name="shops[]" value="{{ shop.id }}" checked>
                            {% else %}
                                <input type="checkbox" name="shops[]" value="{{ shop.id }}">
                            {% endif %}
                            {{ shop.myshopify_domain }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="panel-footer">
                <button type='submit' class='btn btn-sm btn-primary pull-right'>Update Settings</button>
                <div class="clearfix">

                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
